#
#  Synopsis:
#	Example password file for rasql basic authorization
#  Usage:
#	"basic-auth-path": "etc/passwd-rasql"
#

#  user:clear-password  
#  user must be alphanumeric.  password follows colon, exactly
#  comments and empty strings are ignored

jmscott:lose20pd
