{
	"synopsis":		"PostgreSQL 9.6 System Catalog Schema",
	"http-listen":		":8080",
	"rest-path-prefix":	"/pg_catalog",

	"sql-query-set": {
		"pg_class": {
			"source-path":	"pg_class.sql"
		},
		"pg_class-by-nspname":	{
			"source-path":	"pg_class-by-nspname.sql"
		}
	},
	"warn-slow-sql-query-duration": 5,

	"http-query-arg-set": {
		"nspname": {
			"matches": "^[[:graph:]]{1,63}$"
		}
	}
}
