{
	"synopsis":		"PostgreSQL 9.6 System Catalog Schema",
	"http-listen":		":8080",

	"REMOVE-ME-http-listen-tls":	":443",
	"REMOVE-ME-tls-cert-path":	"fake-cert.pem",
	"REMOVE-ME-tls-key-path":	"fake-key.pem",

	"rest-path-prefix":	"/pg_catalog",

	"sql-query-set": {
		"pg_class": {
			"source-path":	"pg_class.sql"
		},
		"pg_class-by-nspname":	{
			"source-path":	"pg_class-by-nspname.sql"
		},
		"pg_stat_activity":	{
			"source-path":	"pg_stat_activity.sql"
		},
		"pg_roles":	{
			"source-path":	"pg_roles.sql"
		}
	},
	"http-query-arg-set": {
		"name" : {
			"matches": "^.{1,63}$",
			"sql-alias": "nspname"
		}
	},
	"warn-slow-sql-query-duration": 5,

	"basic-auth-path":"password-rasql.example"
}
