#
#  Synyopsis:
#	Example profile for SEC Edgar Daemons (not ww)
#  Usage:
#	cp profile.example /usr/local/secedgar/etc/profile
#	chmod +w /usr/local/secedgar/etc/profile
#	vi /usr/local/secedgar/etc/profile
#
export SECEDGAR_ROOT=/usr/local/secedgar
PATH=$SECEDGAR_ROOT/sbin:$PATH

export BLOBIO_ROOT=/usr/local/blobio
#  Note: long read/write() timeouts for big zip files.
export BLOBIO_SERVICE=bio4:127.0.0.1:1798?tmo=255
export BLOBIO_ALGORITHM=bc160
PATH=$PATH:$BLOBIO_ROOT/bin

#  need RFC3339Nano, duration-english in $JMSCOTT_ROOT/bin
export JMSCOTT_ROOT=/usr/local/jmscott
PATH=$PATH:JMSCOTT_ROOT/bin

#  PostgreSQL database
export PGHOME=/usr/local/pgsql
export PGHOST=/tmp
export PGPORT=5432
export PGUSER=postgres
export PGPASSWORD=
export PGDATABASE=secedgar
PATH="$PATH:$PGHOME/bin"
