#
#  Synopsis:
#	Configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	For a GNU Makefile to extract the shell variables defined in this
#	dist file, include the following line in Makefile:
#
#		BINs := $(shell (. ./root.dist && echo $$BINs))
#		SBINs := $(shell (. ./root.dist && echo $$SBINs))
#		LIBs := $(shell (. ./root.dist && echo $$LIBs))
#		HTDOCs := $(shell (. ./root.dist && echo $$HTDOCs))
#		CGIBINs := $(shell (. ./root.dist && echo $$CGIBINs))
#

#  Define PRODUCT to change name of tar file from $(basename $(pwd))
#  to, say, foobar-YYYYMMDD_hhmmss.tar.bz2

#PRODUCT=foobar
PRODUCT=secedgar

LIBs="
	SGML-DOCUMENT
	SGML-DOCUMENT.tsv
	SGML-SUBMISSION
	SGML-SUBMISSION.tsv
	merge-nc_submission.sql
	merge-nc_tar_file_element.sql
	naics.txt
	naics2002.txt
	naics2007.txt
	naics2012.txt
	naics2017.txt
	profile.example
	psqlrc.example
	report.sql
	schema.sql
	secedgar.dist
	select-json-job-count.sql
	sic86_87.txt
	sic88_97.txt
"

#BINs="
#"

SBINs="
	SGML-DOCUMENT2tsv
	SGML-SUBMISSION2tsv
	edgar-pull-daily
	edgar-pull-index
	edgar-put-daily
	nc-submission2json
	nc-tar2file-element
	nc2element_count
	nc2submission
	spool-nc-tar2attic
"

#CGIBINs=""

#HTDOCs=""

#SRCs=""

#  Uncomment to create etc/ directory
#ETC=""

#  Uncomment to create spool/ directory
SPOOL="
"

#  Uncomment to create data/ directory
DATA="
"

#  Uncomment to create run/ directory
RUN=""

#  Uncomment to create log/ directory
LOG=""

#  Uncomment to create cache/ directory
#CACHE=""

#  Uncomment to create tmp/ directory
TMP="
"

ATTIC="
"
